*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    background: url(IMG-20191022-WA0023.jpg) top no-repeat;
    background-size: 70%;
    transition: background-size,background-position 1s,2s;
    animation: puls 1s infinite;
}
#a, #b{
    width: 90%;
    height: 90%;
    margin: 2.5% 5%;
    position: absolute;    
}
#a{
    transition-property: background-position,background-image,transform;
    transition-duration:  2s,1s,1s;
    background: no-repeat center linear-gradient( transparent,rgba(127, 127, 127, .8));
    box-shadow: 0 0 50px #000;
    background-size: 30%;
    perspective: 9999px;
}
#b{
    display: grid;
    justify-items: center;
    align-items: center;
    text-transform: uppercase;
    color: transparent;
    font-size: 450%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: color,text-shadow 15s,8s;
}
.alert{
    display: grid;
    justify-items: center;
    align-items: center;
    text-transform: uppercase;
    color: silver;
    font-size: 360%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;   
}
.alert>p{
    background: linear-gradient( transparent, gold);
    border-radius: 50%;
}
@media screen and (max-width: 999px){
    body{
        background-image: url(таня/Media/WhatsApp_Images/IMG-20191022-WA0023.jpg);
        background-color: rgba(0, 0, 0, .6);
        background-size: 80%;
        animation: none;
    }
}
@media screen and (orientation: portrait){
    body{
        background-size: 40%;
        background-repeat: repeat;
        animation: puls 1s infinite;
    }
}
@keyframes puls {
    from{
        background-size: 75%;
    }
    to{
        background-size: 68%;
    }
}
@keyframes puls1 {
    from{
        background-size: 45%;
    }
    to{
        background-size: 39%;
    }
}
